@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./sidebar.scss";
@import "./form.scss";

html,
body {
	overflow-x: hidden;
}

input:checked {
	& ~ .dot-bg {
		@apply bg-purple-700;
	}
	& ~ .dot {
		transform: translateX(100%);
	}
}

details > summary {
	list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
	display: none;
}

#home {
	background: url("../assests/bg.svg");
	background-repeat: no-repeat;
	background-size: fill;
	// background-position: center center;
	background-position: 35% 10%;
}

body {
	@apply bg-[#e5fae6];
	@apply transition duration-200;
	// @apply bg-white;
	@apply dark:bg-[#1a0634];
}

.primary-form {
	@apply p-4 flex flex-col justify-center items-center dark:bg-dark bg-light;
	@apply space-y-4;

	input {
		@apply w-[350px];
		@apply border-2 dark:border-secondary-dark dark:bg-dark;
		@apply p-2 px-3 rounded my-1;
		@apply border-dark bg-light;
	}

	button {
		@apply w-[350px];
		@apply bg-dark dark:bg-light dark:text-dark text-light;
	}
}

.landing-nav {
	height: 110px;
	padding: 0 40px;
}

.divider {
	@apply w-full h-0.5 my-2 bg-neutral-500 rounded-full;
}

.sidebar-item {
	@apply block w-12 h-12 rounded-full p-2;
	@apply even:my-1 transition flex justify-center items-center;
}

.sidebar-item:hover {
	@apply bg-neutral-300;
}

.icon {
	@apply block;
}
